
.orange{
    background: orange;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 100px auto;
    border-radius:3px ;
    text-align: center;
    border: 5px solid #ff9300;
    cursor: pointer;


}
.red{
    background: orangered;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 100px auto;
    border-radius:3px ;
    text-align: center;
    border:5px solid #ff3700;

}
